[Unit]
Description=ARis Backend
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
User=admin
WorkingDirectory=/home/StudienArbeit_ARis/Software/Backend
Environment=HOST=127.0.0.1
Environment=PORT=5000
Environment=DB_PATH=/home/StudienArbeit_ARis/Software/Backend/data.db
ExecStart=/home/StudienArbeit_ARis/Software/Backend/.venv/bin/python /home/StudienArbeit_ARis/Software/Backend/run.py
Restart=always
RestartSec=2

[Install]
WantedBy=multi-user.target
